<%# from provided sample_map.html.erb file %>

 <style>
  #map {
    height: 600px;
    width: 75%;
    margin: 0px;
    padding: 0px;
  }

  #saveForm {
    margin-top: 10px;
  }
</style>

<div class="layoutBanner">
  <h1>Click on the map to get started!</h1>
</div>

<div id="map"></div>

<div id="saveForm">
    <h1>input the longitude, latitude coordinates below</h1>
    <h1>new parking meter</h1>

    <%= form_with scope: :parkingmeter, url: parkingmeters_path, local: true do |form| %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>
    
    <p>
        <%= form.label :longitude %><br>
        <%= form.text_field :longitude %>
    </p>
    
    <p>
        <%= form.label :latitude %><br>
        <%= form.text_field :latitude %>
    </p>

    <p>
        <%= form.label :status %> (on, off, or out-of-service)<br>
        <%= form.text_field :status %>
    </p>

    <p>
        <%= form.label :color %><br>
        <%= form.text_field :color %>
    </p>

    <p>
        <%= form.label :height %><br>
        <%= form.text_field :height %>
    </p>
    
    <p>
        <%= form.submit %>
    </p>
    <% end %>
</div>

<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 37.54596389579989, lng: -122.29019165039062},
      zoom: 15
    });

    google.maps.event.addListener(map, 'click', function(e) {
    //   $('#latitude').val(e.latLng.lat());
    //   $('#longitude').val(e.latLng.lng());
    placeMarkerAndPanTo(e.latLng, map);
    // console.log(e.latLng.lat())
    // console.log(e.latLng.lng())

    alert('Copy longitude and latitude and paste below!');
    alert(e.latLng);

    });

    function placeMarkerAndPanTo(latLng, map) {
    var marker = new google.maps.Marker({
        position: latLng,
        map: map
    });
    map.panTo(latLng);

    
}
  }
</script>


<%= javascript_include_tag '//maps.google.com/maps/api/js?v=3.30&callback=initMap' %>
