
<p>
  <strong>Name:</strong>
  <%= @parkingmeter.name %>
</p>
 
<p>
  <strong>Longitude:</strong>
  <%= @parkingmeter.longitude %>
</p>
 
<p>
  <strong>Latitude:</strong>
  <%= @parkingmeter.latitude %>
</p>
 
<p>
  <strong>Color:</strong>
  <%= @parkingmeter.color %>
</p>
 
<p>
  <strong>Height:</strong>
  <%= @parkingmeter.height %>
</p>

<%= link_to 'Index', parkingmeters_path, method: :get %>